/*-- scss:defaults --*/
$spacer: 1.2rem !default;

$headings-margin-bottom:      $spacer * .9 !default;



// fonts
$presentation-heading-color: #546e7a;
$font-family-sans-serif: "Roboto", Helvetica, sans-serif;
$font-family-monospace: "Roboto Mono", monospace;

$link-color: #546e7a;
$presentation-font-size-root: 32px;
$presentation-title-slide-text-align: center;
$presentation-h1-font-size: 2.1em;
$presentation-h2-font-size: 1.9em;

/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: right !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.sectionhead {
  font-size: 1em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

